  @import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);
  align-items: center;
  width: 100%;
  height: 100vh;
}

main {
  background-color: hsl(0, 0%, 100%);
  width:20%;
  height: 55vh;
  font-family: "Figtree";
  padding: 2rem;
  padding-bottom: 1rem;
   box-shadow: 7px 10px black;
   border-radius: 10px;
}

.type{
 
  padding-left:0.5rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
 
}
img{
  width: 100%;
  
}
button{
  background-color:hsl(47, 88%, 63%) ;
  color: hsl(0, 0%, 7%) ;
  width:30%;
  height: 2vh;
 font-weight: bolder;
 border-radius: 2px;
 padding-bottom: 1rem;
 border: 1px solid #fff;
}

.type-1{
  color:  hsl(0, 0%, 7%);
padding-top: 0.5rem;
}

h2{
  font-weight: bolder;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}


.type-4 { 
  display: flex; 
  justify-content: flex-start;
  font-weight: bold;
  color: black;
 
} 
 
.type-4 img { 
  width: 10%;}

  .type-2{
    color:  hsl(0, 0%, 42%);
    padding-bottom: 1.5rem;
  }